<!DOCTYPE html>
<html>
    <head>
        <title><% = title %></title>
        <style>
            *{
                padding: 0;
                margin: 0;
            }
            ul{
                list-style: none;
                border: 2px solid black;
            }
        </style>
    </head>
    <body>
        <h3>This is my about us section</h3>
        <p>This site under development ||</p>
        <p>Services on this platform are:</p>
            <ul>
                <li>SEO Optimization</li>
                <li>Web development</li>
                <li>UI/UX Design</li>
                <li>AI integration</li>
                <li>Chat bot development</li>
            </ul>
    </body>
</html>