<!DOCTYPE html>
<html>
    <head>
        <title><% = title %></title>
        <style>
            *{
                padding: 0;
                margin: 0;
            }
        </style>
    </head>
    <body>
        <h5>Contact us</h5>
        <p>Email us at : test@gmai.com</p>
        <ul>
            <li>
                <a href="Linkdin"></a>
                
            </li>
            <li>
                <a href="">Meta</a>
            </li>
        </ul>
    </body>
</html>