<!DOCTYPE html>
<html>
    <head>
        <title><% = title %></title>
    </head>
    <body>
        <h2>Fill your detaiils to contact us</h2>
        
        <form action="/submit" method="post">
            <label>Username: </label></br>
            <input type="text" name="Username" required/></br>

            <label>Email: </label>
            <input type="email" name="email" required/>

            <button type="submit">Submit</button>

        </form>
    </body>
</html>