<!DOCTYPE html>
<html>
    <head>
        <title><% = title %></title>
        <style>
            *{
                padding: 0;
                margin: 0;
            }
        </style>
    </head>

    <body>
        <div class = "container">
            <ul>
                <li>
                    <a href="about">About</a>
                </li>
                <li>
                    <a href="/form">Form</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <he><Welcome to %= ecart %></he>

    </body>
</html>