<!DOCTYPE html>
<html>

    <head>
        <title><%=title%></title>


    </head>

    <body>
        <%- include("header") %>
        <h3>E-Learning || Project</h3>
        <p>Welcome to the Home page.</p>

    </body>
</html>