<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1>Welcome <%=name%></h1>
        <p>jea dbkdkwe ekbkebewb bkwbwb hjebbe</p>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </body>
</html>